body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;background-color:#d35252;}a{color:#fff;text-decoration:none; font-size:16px;}a:hover,a:focus{color:#f0d7d7;text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:#fff;text-rendering:optimizelegibility}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;line-height:1;color:#fff}
.muted{color:#fff;}
p {color: #fff;}
.logo {
	width: 160px;
	height: 150px;
}

